<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/style.css">
    <link rel="shortcut icon" href="./Images/Logo-JoinBike.png" type="image/x-icon">
    <title>JoinBike - Contato</title>
</head>

<body style="background-color: #12233B;">
    <header style="background-color: #EFF3FF;">
        <nav>
            <ul class="lista-cabecalho">
                <div style="margin-left: 3%;">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="./Images/Logo-JoinBike-2.png" alt="Logo"
                             style="width: 100px; height: 60px;">
                    </a>
                </div>

                <div class="elementos-cabecalho">
                <li style="padding: 20px 10px 0px 0px">
                    <a style="color: black;" asp-controller="Home" asp-action="Index">JoinBike</a>
                </li>
                <li style="padding: 20px 10px 0px 5px">
                    <a style="color: black;" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li style="padding: 20px 20px 0px 5px">
                    <a style="color: black;" href="#">Download</a>
                </li>
                </div>
            </ul>

        </nav>

        <hr>

        <h1 style="text-align: center; padding-top: 1%; padding-bottom: 2%;">FALE <span style="color:#29C5BA;">CONOSCO</span></h1>
    </header>

    <main style="background-color: #12233B; color: white; padding: 6% 0% 0% 0%;">
        <div style="display: flex; justify-content: space-evenly; text-align: center; white-space: nowrap;">
            <div style="padding-right: 2%;">
                <img style="width: 200px; height: 200px;" src="./Images/fale-conosco-1.png" alt="Imagem1">

                <h3 style="padding-top: 10%;">PERGUNTAS FREQUENTES</h3>
                <p>Possuí alguma dúvida?</p>
                <p>Confira se já existe uma</p>
                <p>resposta na página de</p>
                <p> <a href="#"><span style="color: #31A3B5;">perguntas frequentes</span>.</a> </p>
            </div>
            <div style="padding-right: 2%; padding-left: 2%;">
                <img style="width: 200px; height: 200px;" src="./Images/fale-conosco-2.png" alt="Imagem2">

                <h3 style="padding-top: 10%;">NOS ACOMPANHE!</h3>
                <p>Siga nossas páginas nas</p>
                <p>redes sociais para saber de</p>
                <p>novidades ou acompanhe o</p>
                <p>nosso <a asp-controller="Blog" asp-action="index"><span style="color: #31A3B5;">blog</span></a>!</p>
            </div>
            <div style="padding-left: 2S%;">
                <img style="width: 200px; height: 200px;" src="./Images/fale-conosco-3.png" alt="imagem-3">

                <h3 style="padding-top: 10%;">AVALIE!</h3>
                <p>Gostou do aplicativo? Faça</p>
                <p>uma avaliação na <a href="#"><span style="color: #31A3B5;">Google</span></a></p>
                <p>
                    <a href="#"><span style="color: #31A3B5;">Play</span></a> ou na <a href="#">
                        <span style="color: #31A3B5;">App Store.</span>
                    </a>
                </p>
            </div>
        </div>
    </main>

    <footer style="background-color: #12233B; color: white; padding-left: 1%; padding-top: 5%;">
        <ul style="display: flex; justify-content: start; align-items: center; list-style: none;">
            <li style="padding: 10px 0px 0px 16px;"> <p>Email: joinbike.app@gmail.com</p> </li>
            <li style="padding: 16px 0px 0px 16px; display: flex;"><p style="padding-right: 12px;">Instagram</p> <a href="https://www.instagram.com/joinbike.app/"> <img style="width: 30px; height: 30px;" src="./Images/instagram.png" alt="Instagram JoinBike"> </a> </li>
            <li style="padding: 16px 0px 0px 16px; display: flex;"><p style="padding-right: 12px;">Linkedin</p> <a href="https://www.linkedin.com/company/joinbike/"> <img style="width: 30px; height: 30px;" src="./Images/linkedin.png" alt="linkedin JoinBike"> </a> </li>
        </ul>
    </footer>
</body>

</html>