<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/style.css">
    <link rel="shortcut icon" href="./Images/Logo-JoinBike.png" type="image/x-icon">

    <title>JoinBike - Inicio</title>
</head>

<body>
    <header class="cabecalho" style="background-color: rgb(139, 204, 213);">
        <nav class="nav-cabecalho">
            <ul class="lista-cabecalho">
                <div style="margin-left: 3%;">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="./Images/Logo-JoinBike.png" alt="Logo"
                             style="width: 50px; height: 40px;">
                    </a>
                </div>

                <div class="elementos-cabecalho">
                <li style="padding: 10px">
                    <a asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li style="padding: 10px">
                    <a asp-controller="Contato" asp-action="Index">Contato</a>
                </li>
                <li style="padding: 10px 10px 10px 10px">
                    <a href="#">Download</a>
                </li>
                </div>
            </ul>

        </nav>

        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="margin: 5%;">
                <h1><strong>CONECTANDO VIDAS</strong></h1>
                <h1><strong>SOBRE DUAS RODAS</strong></h1>
                <p>UM APP CRIADO POR <u>CICLISTAS</u> PARA <u>CICLISTAS</u> </p>
            </div>

            <div style="margin: 5%;">
                <h3>Baixe o <strong>JoinBike</stong> agora mesmo!</h3>
                <a href="#">
                    <button class="botao-play-store">
                        <img style="width: 35px; height: 30px;"
                             src="./Images/Google-Play-icon-logo.png" alt="Google play"> Google Play
                    </button>
                </a>
            </div>
        </div>
    </header>

    <main class="corpo-pagina">
        <section style="background-color: #EFF3FF; color: #12233B;">
            <div style="display: flex; justify-content: space-evenly; padding: 5% 0% 5% 0%;">
                <div>
                    <h3>UMA REDE SOCIAL PARA</h3>
                    <h3>CICLISTAS, COMO VOCÊ</h3>
                    <h3>NUNCA VIU.</h3>

                    <br>

                    <p>Encontre ciclistas próximos a você</p>
                    <p>e marque pedais em conjunto com</p>
                    <p>apenas alguns cliques.</p>

                    <br>

                    <a href="#baixar-app"> <button class="botao-acesse-joinbike">COMECE AGORA MESMO!</button> </a>
                </div>
                <div>
                    <img style="width: 300px; height: 300px;" src="./Images/imagem-1.png" alt="Imagem 1">
                </div>
            </div>

            <div style="display: flex; justify-content: space-evenly; padding: 0% 5% 5% 0%;">
                <div>
                    <img style="width: 300px; height: 300px;" src="./Images/image-2.png" alt="Imagem 2">
                </div>
                <div>
                    <h3>SUA SEGURANÇA EM</h3>
                    <h3>PRIMEIRO LUGAR.</h3>
                    <h3>SEMPRE.</h3>

                    <br>

                    <p>Se a união faz a força, o JoinBike</p>
                    <p>faz a união. Tenha mais segurança</p>
                    <p>antes, durante e após o seu pedal!</p>

                    <br>

                    <a href="#seguranca"> <button class="botao-acesse-joinbike">CONHEÇA NOSSA SEGURANÇA</button> </a>
                </div>
            </div>

            <div style="display: flex; justify-content: space-evenly; padding: 0% 5% 10% 0%;">
                <div>
                    <h3>100% BRASILEIRO.</h3>
                    <h3>100% GRATUIRO.</h3>
                    <h3>100% APROVADO.</h3>

                    <br>

                    <p>UM APP QUE JÁ FOI ELOGIADO</p>
                    <P>POR ESPECIALISTAS DE HARVARD</P>
                    <P>NA PALMA DAS SUAS MÃO.</P>

                    <br>

                    <a href="#nossa-historia">
                        <button class="botao-acesse-joinbike">CONHEÇA NOSSA HISTÓRIA</button>
                    </a>
                </div>
                <div>
                    <img style="width: 300px; height: 300;" src="./Images/imagem-3.png" alt="Imagem 3">
                </div>
            </div>
        </section>

        <section id="baixar-app" style="background-color: #12233B; padding-top: 5%; padding-bottom: 5%;">
            <h1 style="text-align: center; color: white;">
                5 PASSOS PARA APROVEITAR O APP <span style="color: #56F5FF;">JOINBIKE</span>
            </h1>

            <div style="display: flex; flex-direction: row; justify-content: space-evenly; white-space: nowrap;">
                <div style="padding: 5%; color: #EFF3FF; opacity: 95%;">
                    <p>BAIXE O JOINBIKE <span style="color: #56F5FF;">GRATUITAMENTE</span> NA SUA LOJA DE APPS.</p>
                    <br>
                    <P>
                        FAÇA O SEU <span style="color: #56F5FF;">CADASTRO</span> OU <span style="color: #56F5FF;">LOGIN</span> PARA ACESSAR OS PEDAIS.
                    </P>
                    <br>
                    <P>ENCONTRE O PEDAL QUE MAIS COMBINA COM VOCÊ <span style="color: #56F5FF;">OU...</span></P>
                    <br>
                    <p>...CRIE O SEU PRÓPRIO <span style="color: #56F5FF;">PEDAL</span> E CONVIDE A COMUNIDADE.</p>
                    <br>
                    <p>
                        FAÇA NOVAS <span style="color: #56F5FF;">AMIZADES</span> E PEDALE COM MAIS <span style="color: #56F5FF;">SEGURANÇA</span>!
                    </p>
                </div>
                <div style="display: flex; flex-direction: column; margin-top: 5%;">
                    <img style="width: 145px; height: 145px;" src="./Images/imagem-4.png" alt="Celular-JoinBike">
                    <div style="display:flex; justify-content: center; margin-top: 10%;">
                        <a href="#">
                            <button class="botao-play-store">
                                <img style="width: 35px; height: 30px;"
                                     src="./Images/Google-Play-icon-logo.png" alt="Google play"> Google Play
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="seguranca" style="background-color: #0002FF; padding: 5%;">
            <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; white-space: nowrap;">
                <div>
                    <h1 style="color: white;">COMPROMISSO COM A SUA <span style="color: #56F5FF;">SEGURANÇA</span></h1>

                    <br>

                    <div style="color: #EFF3FF; opacity: 90%;">
                        <p>O JoinBike surgiu com a missão de tornar a prática</p>
                        <p>do ciclismo mais segura no Brasil e no mundo.</p>
                        <p>Clique nos ícones abaixo e veja como garantimos a</p>
                        <p>Sua segurança diariamente, onde você estiver.</p>
                    </div>

                </div>
                <div>
                    <img style="width: 250px; height: 250px;" src="./Images/imagem-5.png" alt="Sinal de bike">
                </div>
            </div>
            <div style="display: flex; justify-content: space-evenly; padding-top: 5%;">
                <a href="#">
                    <img style="width: 100px; height: 100px;" src="./Images/Lock Shield.png" alt="Cadeado">
                </a>
                <a href="#">
                    <img style="width: 100px; height: 100px;" src="./Images/Vehicle Bicycle.png" alt="Bike">
                </a>
                <a href="#">
                    <img style="width: 100px; height: 100px;" src="./Images/Person Lock.png"
                         alt="Pessoa segura">
                </a>
            </div>
        </section>
        <section id="nossa-historia">
            <div style="background-color: #29C5BA; display: flex; justify-content: space-evenly; align-items: center;">
                <div style="color: #12233B;">
                    <h1><u>NOSSA</u></h1>
                    <h1><u>HISTÓRIA</u></h1>

                    <br>

                    <p>Como um projeto criado</p>
                    <p>dentro de uma escola pública</p>
                    <p>por estudantes do ensino</p>
                    <p>médio conquistou o mundo?</p>
                </div>
                <div>
                    <img style="width: 300px; height: 300px;" src="./Images/imagem-6.png" alt="JoinBike-App">
                </div>
            </div>

            <div style="background-color: #EFF3FF; display: flex; justify-content: space-evenly; align-items: center; padding: 5%;">
                <div>
                    <img style="width: 300px; height: 400px; padding-right: 20px;" src="./Images/imagem-7.png"
                         alt="Kopp e Mioto">
                </div>
                <div style="color: #12233B;">
                    <h1 style="text-align: center; margin-bottom: 5%;">A IDEIA</h1>

                    <p>"Após ser atropelado enquanto pedalava, decidi que</p>
                    <p>queria fazer algo para que outros ciclistas não</p>
                    <p>passasem pelo mesmo que eu. Após um tempo, a</p>
                    <p>ideia de criar um app inovador para aumentar a</p>
                    <p>segurança dos ciclistas surgiu, e com o apoio de</p>
                    <p>amigos e professores do Intituto Federal do</p>
                    <p>Paraná, o desenvolvimento do nosso app começou."</p>
                    <span style="color: #216992;">-Gustavo Kopp</span>
                </div>
            </div>

            <div style="background-color: #29C5BA; color: #12233B; display: flex; flex-direction: row; justify-content: space-around; padding: 5%;">
                <div>
                    <h1 style="padding-bottom: 5%; white-space: nowrap;">O 1º RECONHECIMENTO</h1>

                    <p>Em dezembro de 2022, os alunos participantes do</p>
                    <p>projeto fizeram a primeira viagem de avião de suas</p>
                    <p>vidas, para apresentar o projeto em Brasília, num</p>
                    <p>grande evento do Ministério da Educação (MEC).</p>
                    <p>Durante o evento, o projeto recebeu nota máxima do</p>
                    <p>MEC por conta de sua proposta, e os estudantes</p>
                    <p>saíram de lá com o título de melhor projeto</p>
                    <p>desenvolvido por estudantes no Brasil. Começava ali,</p>
                    <p>uma jornada de muito sucesso para o app JoinBike.</p>
                </div>
                <div>
                    <img style="width: 400px; height: 300px; margin-left: 5%;" src="./Images/imagem-8.png"
                         alt="Apresentação do JoinBike">
                    <h3 style="text-align: center; margin-top: 5%;"><a href="#"><u>SAIBA MAIS AQUI</u></a></h3>
                </div>
            </div>

            <div style="background-color: #EFF3FF; color: #12233B; display: flex; flex-direction: row; flex-wrap: wrap; padding: 5%;">
                <div style="padding: 2%;">
                    <iframe width="650px" height="500px" src="https://www.youtube.com/embed/Q_BbYfOb700"
                            title="Conheça o projeto JoinBike através da nossa 1° reportagem na Globo!" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div style="padding: 2%;">
                    <h1>DO IF PARA HARVARD</h1>

                    <br>

                    <p>Ainda em 2022, o JoinBike foi selecionado para</p>
                    <p>ser apresentado para professores e</p>
                    <p>pesquisadores das melhores universidades do</p>
                    <p>mundo, Harvard e MIT, localizadas em Boston</p>
                    <p>(EUA). A seleção do projeto para ser apresentado</p>
                    <p>em locais tão renomados foi tema de uma</p>
                    <p>reportagem especial da RPC, afiliada da Rede</p>
                    <p>Globo no estado do Paraná.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <div style="background-color: #29C5BA; color: #12233B; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; padding: 5%;">
            <div style="margin-bottom: 5%;">
                <h1>ELOGIOS DE HARVARD</h1>

                <br>

                <p>Após fechar uma grande parceira com a maior</p>
                <p>fabricante de aros do Brasil, e também paranaense,</p>
                <p>VZAN, o JoinBike pôde realizar a sua viagem até</p>
                <p>Boston. Lá, o projeto despertou o interesse do</p>
                <p>professor de Harvard mais influente no mundo do</p>
                <p>ciclismo, Mr. Scott Edwards, que em 2020 ficou</p>
                <p>mundialmente famoso por atravessar os EUA de</p>
                <p>bike. Veja ao lado o que ele falou sobre o JoinBike</p>
                <p>durante um pedal pelos arredores de Boston.</p>
            </div>
            <div style="display: flex; flex-direction: column;">

                <iframe width="650" height="500" src="https://www.youtube.com/embed/Eu8Bji_f8uk" title="O que um professor de HARVARD tem a dizer sobre o App JoinBike?"
                        frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <div style="display: flex; justify-content: center;">
                    <a href="#"> <button class="botao-acesse-joinbike">ACESSE O JOINBIKE AGORA MESMO!</button> </a>
                </div>
            </div>
        </div>
        <nav>
            <ul class="lista-rodape">
                <div style="margin: 3% 0% 0% 0%;">
                    <a href="index.html">
                        <img src="./Images/Logo-JoinBike-2.png" alt="Logo"
                             style="width: 120px; height: px;">
                    </a>
                </div>
                <div class="elementos-rodape">
                <li style="padding: 10px;">
                    <a style="color: #12233B;" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li style="padding: 10px;">
                    <a style="color: #12233B;" asp-controller="Contato" asp-action="Index">Contato</a>
                </li>
                <li style="padding: 10px 10px 10px 10px;">
                    <a style="color: #12233B;" href="#">Download</a>
                </li>
                </div>
            </ul>
        </nav>
    </footer>
</body>

</html>